@model Employeemodel.LocationModelViewModel
@if (Model.LocationList.Count > 0 || Model.LocationList != null)
{
    <table class="table table-bordered table-striped" id="TableLocation">
        <thead>
            <tr>
                <th class="text-center">Sr.No</th>
                <th class="text-center">Location Name</th>

                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.LocationList.Count; i++)
            {
                <tr>
                    <td class="text-center">@Model.LocationList[i].SrNo</td>
                    <td class="text-center">@Model.LocationList[i].Location</td>

                    <td class="text-center" style="padding: 3px;">
                        <div>

                            <a id="@Model.LocationList[i].Id" onclick="ViewFromData(@Model.LocationList[i].Id);" data-toggle="tooltip" title="Edit" data-placement="left" class="btn btn-sm btn-default waves-effect" style="height: 30px;margin-right: 10px;border-radius: 5px;padding-top: 8px;"><i class="bi bi-pencil-square"></i></a>

                            <a id="@Model.LocationList[i].Id" onclick="RemoveFromData(@Model.LocationList[i].Id)" data-toggle="tooltip" title="Delete" data-placement="left" class="btn btn-sm btn-danger waves-effect" style="height: 30px;border-radius: 5px;padding-top: 8px;"><i class="bi bi-trash3-fill"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">Sr.No</th>
                <th class="text-center">Location Name</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">No data Found</td>
            </tr>
        </tbody>
    </table>
}

